.App-header {
    text-align: center;
    background-color: #222;
    height: 50px;
    padding: 10px;
    color: white;
}

.App-body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25em;
    padding-left: 1.25em;
    padding-right: 1.25em;
}